:root {
    /* ----------- Константы ----------- */
    font-size: 4px;
    letter-spacing: -0.03rem;
    font-family: 'Inter', serif;
}

/* ----------- Цвета ----------- */
$White: #ffffff;
$Black: #000000;
$Yellow_55: #ffd11a;
$Yellow_60: #ffd633;
$Yellow_70: #ffe066;
$Yellow_80: #ffeb99;
$Yellow_90: #fff5cc;
$Yellow_95: #fffae5;
$Yellow_97: #fffcf0;
$Yellow_99: #fffefa;
$Dark_08: #141414;
$Dark_10: #1a1a1a;
$Dark_15: #262626;
$Dark_20: #333333;
$Dark_25: #404040;
$Dark_30: #4d4d4d;
$Dark_35: #595959;
$Dark_40: #666666;
$Grey_50: #7e7e81;
$Grey_60: #98989a;
$Grey_70: #b3b3b3;
$Grey_80: #cccccc;
$Grey_90: #e4e4e7;
$Grey_95: #f1f1f3;
$Grey_97: #f7f7f8;
$Grey_99: #fcfcfd;

$Border: 0.25rem $Dark_15 solid;

/* ----------- Стили шрифтов ----------- */

@font-face {
    font-family: 'Kumbh Sans';
    src: url('../fonts/KumbhSans-Regular.eot');
    src: local('Kumbh Sans Regular'), local('KumbhSans-Regular'),
        url('../fonts/KumbhSans-Regular.woff2') format('woff2'),
        url('../fonts/KumbhSans-Regular.woff') format('woff'),
        url('../fonts/KumbhSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Заголовки, на макете шрифты Kumbh */

@mixin title_Kumbh {
    /* служебный миксин, его использовать не надо */
    font-family: 'Kumbh Sans', serif;
    font-weight: 500;
}

@mixin page_title_L {
    @include title_Kumbh;
    font-size: 13.75rem;
    line-height: 120%;
}

@mixin page_title_S {
    @include title_Kumbh;
    font-size: 7.5rem;
    line-height: 120%;
}

@mixin page_subtitle_L {
    @include title_Kumbh;
    font-size: 5.5rem;
    line-height: 120%;
}

@mixin page_subtitle_S {
    @include title_Kumbh;
    font-size: 4.5rem;
    line-height: 120%;
}

@mixin section_title_L {
    @include title_Kumbh;
    font-size: 11rem;
    line-height: 130%;
}

@mixin section_title_S {
    @include title_Kumbh;
    font-size: 7rem;
    line-height: 130%;
}

@mixin article_title_L {
    @include title_Kumbh;
    font-size: 7.5rem;
    line-height: 150%;
}

@mixin article_title_S {
    @include title_Kumbh;
    font-size: 6rem;
    line-height: 150%;
}

/* Жирные цифры */

@mixin bold_numbers_L {
    font-weight: 600;
    font-size: 7.5rem;
    line-height: 150%;
}

@mixin bold_numbers_S {
    font-weight: 600;
    font-size: 6rem;
    line-height: 150%;
}

/* Мелкие заголовки, на макете шрифт Inter Medium */

@mixin txt_title {
    /* служебный миксин, его использовать не надо */
    font-family: 'Inter', serif;
    font-weight: 500;
    line-height: 150%;
}

@mixin txt_title_22 {
    @include txt_title;
    font-size: 5.5rem;
}

@mixin txt_title_20 {
    @include txt_title;
    font-size: 5rem;
}

@mixin txt_title_18 {
    @include txt_title;
    font-size: 4.5rem;
}

@mixin txt_title_16 {
    @include txt_title;
    font-size: 4rem;
}

/* на макете шрифт Inter Regular */

@mixin txt_body {
    /* служебный миксин, его использовать не надо */
    font-family: 'Inter', serif;
    font-weight: 400;
    line-height: 150%;
}

@mixin txt_body_16 {
    @include txt_title;
    font-size: 4rem;
}

@mixin txt_body_14 {
    @include txt_title;
    font-size: 3.5rem;
}

/* ----------- Ограничения ширин, шаблоны для @media ----------- */

@mixin container {
    max-width: 344rem;
    padding: 0 12rem;
    margin: 0 auto;
}

/* ----------- Кнопки и ссылки ----------- */
/* разные настройки размеров кнопок */
@mixin btn_size_48 {
    box-sizing: border-box;
    height: 12rem;
    padding: 3.5rem 5rem;
    display: flex;
    gap: 1rem;
    border-radius: 2rem;
    @include txt_body_14;
    white-space: nowrap;
    .icon {
        width: 5rem;
        height: 5rem;
    }
}

@mixin btn_circle {
    box-sizing: border-box;
    height: 11rem;
    width: 11rem;
    padding: 3rem;
    border-radius: 6rem;
    svg {
        width: 100%;
        height: 100%;
    }
}

/* разные цвета и стили кнопок */
@mixin btn_black {
    background-color: $Dark_08;
    color: $Grey_60;
    border: $Border;
    cursor: pointer;
    svg {
        color: $Yellow_55;
    }
    &:hover {
        background-color: $Dark_15;
        color: $Grey_80;
        border: 0.25rem $Dark_25 solid;
        svg {
            color: $Yellow_70;
        }
    }
    &:active {
        background-color: $Dark_10;
        color: $Grey_70;
        border: 0.25rem $Dark_20 solid;
        svg {
            color: $Yellow_60;
        }
    }
}

@mixin btn_yellow {
    background-color: $Yellow_55;
    color: $Dark_08;
    cursor: pointer;
    svg {
        color: $Dark_08;
    }
    &:hover {
        background-color: $Yellow_70;
        color: $Grey_80;
    }
    &:active {
        background-color: $Yellow_60;
        color: $Grey_70;
    }
}

.button {
    text-transform: capitalize;
    font-family: 'Inter';
    font-size: 0.875rem;
    text-align: center;
    box-sizing: border-box;
}

.yellow {
    background-color: $Yellow_55;
    color: $Dark_08;
}

.black {
    background-color: $Dark_08;
    color: $Grey_60;
    border: 0.0625rem solid $Dark_15;
}

.active_header {
    color: $White;
    font-weight: 500;
    background-color: $Dark_08;
    border: 0.0625rem solid $Dark_20;
}

.active_body {
    color: $White;
    font-weight: 500;
    background-color: $Dark_10;
    border: 0.0625rem solid $Dark_15;
}

/* ----------- Контейнеры-карточки ----------- */
body {
    background-color: $Dark_08;
}
