@charset "UTF-8";
:root {
  /* ----------- Константы ----------- */
  font-size: 4px;
  letter-spacing: -0.03rem;
  font-family: "Inter", serif;
}

/* ----------- Цвета ----------- */
/* ----------- Стили шрифтов ----------- */
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Regular.eot");
  src: local("Kumbh Sans Regular"), local("KumbhSans-Regular"), url("../fonts/KumbhSans-Regular.woff2") format("woff2"), url("../fonts/KumbhSans-Regular.woff") format("woff"), url("../fonts/KumbhSans-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot");
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter Medium";
  src: url("../fonts/Inter-Medium.eot");
  src: local("Inter Medium"), local("Inter-Medium"), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* Заголовки, на макете шрифты Kumbh */
/* Жирные цифры */
/* Мелкие заголовки, на макете шрифт Inter Medium */
/* на макете шрифт Inter Regular */
/* ----------- Размеры отступов, паддингов ----------- */
/* ----------- Ограничения ширин, шаблоны для @media ----------- */
/* ----------- Кнопки и ссылки ----------- */
/* разные настройки размеров кнопок */
/* разные цвета и стили кнопок */
/* ----------- Контейнеры-карточки ----------- */
body {
  background-color: #141414;
}

.future_tech_features {
  border-bottom: 0.25rem #262626 solid;
}

.future_tech_features_top {
  background-color: #1a1a1a;
  height: 64.25rem;
  border-bottom: 0.25rem #262626 solid;
}

.non-clickable {
  background-color: #333333;
  padding: 1rem 2rem;
  color: #ffffff;
  width: 40.5rem;
  border-radius: 1rem;
  margin-top: 20rem;
  box-sizing: border-box;
}

.future_tech_title {
  font-size: 11rem;
  color: #ffffff;
  font-family: "Kumbh Sans";
  font-weight: 500;
}

.future_tech_features_blog_border {
  border-bottom: 0.25rem #262626 solid;
}

.future_tech_features_blog {
  display: flex;
  max-width: 344rem;
  padding: 0 12rem;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .future_tech_features_blog {
    max-width: none;
    padding: 0 8rem;
  }
}
@media (max-width: 480px) {
  .future_tech_features_blog {
    padding: 0 4rem;
  }
}

.left_part_features_blog {
  border-right: 0.25rem #262626 solid;
  display: flex;
  align-items: center;
}

.left_part_blog_img {
  margin-bottom: 10rem;
}

.title_left_part_blog {
  /* служебный миксин, его использовать не надо */
  font-family: "Kumbh Sans", serif;
  font-weight: 500;
  font-size: 7.5rem;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 2.2rem;
}

.text_left_part_blog, .text_right_part_blog {
  /* служебный миксин, его использовать не надо */
  font-family: "Inter", serif;
  font-weight: 500;
  line-height: 150%;
  font-size: 4rem;
  color: #98989a;
}

.right_part_blog {
  position: relative;
  padding: 15rem 0 10rem 10rem;
  width: 62.5%;
}

.right_part_blog_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_part_blog_card_flex, .left_part_blog_card_flex {
  margin: 0 0 5rem 5rem;
  width: 90rem;
  background-color: #1a1a1a;
  color: #ffffff;
  border-radius: 2.2rem;
  border: 0.25rem #262626 solid;
  padding: 7.5rem;
  height: 38.5rem;
}

.blog_card_title {
  /* служебный миксин, его использовать не надо */
  font-family: "Inter", serif;
  font-weight: 500;
  line-height: 150%;
  font-size: 5rem;
  color: #ffffff;
  margin: 3.5rem 0 4rem 0;
}

/* -------- планшет --------*/
@media (max-width: 1024px) {
  .future_tech_features_blog {
    display: flex;
    flex-direction: column;
  }
  .left_part_features_blog {
    margin-top: 12.5rem;
    border-right: none;
  }
  .left_part_blog_card_flex {
    width: 49%;
  }
  .right_part_blog {
    padding: 15rem 0 10rem 0rem;
    width: 100%;
  }
  .right_part_blog_card_flex {
    margin: 0 0 5rem 0;
    width: 49%;
  }
}
/* -------- телефон --------*/
@media (max-width: 480px) {
  .right_part_blog_card {
    flex-direction: column;
  }
  .right_part_blog_card_flex, .left_part_blog_card_flex {
    width: 86%;
    margin: 0 auto;
    margin: 0 0 5rem 4rem;
  }
  .title_left_part_blog {
    /* служебный миксин, его использовать не надо */
    font-family: "Kumbh Sans", serif;
    font-weight: 500;
    font-size: 6rem;
    line-height: 150%;
  }
  .right_part_blog_card_flex, .left_part_blog_card_flex {
    height: 30.25rem;
  }
  .blog_card_title {
    /* служебный миксин, его использовать не надо */
    font-family: "Inter", serif;
    font-weight: 500;
    line-height: 150%;
    font-size: 4.5rem;
  }
  .text_left_part_blog, .text_right_part_blog {
    /* служебный миксин, его использовать не надо */
    font-family: "Inter", serif;
    font-weight: 400;
    line-height: 150%;
    font-size: 3.5rem;
  }
}/*# sourceMappingURL=future_tech_features_section.css.map */