@import 'design_system';

.future_tech_features_top {
  background-color: $Dark_10;
  height: 64.25rem;
  border: 0.25rem solid $Grey_60;
}

.non-clickable {
  background-color: $Dark_20;
  padding: 1rem 2rem;
  color: $White;
}

.future_tech_features_blog {
  height: 112rem;
  background-color: $Dark_15;
}