@charset "UTF-8";
:root {
  /* ----------- Константы ----------- */
  font-size: 4px;
  letter-spacing: -0.03rem;
  font-family: "Inter", serif;
}

/* ----------- Цвета ----------- */
/* ----------- Стили шрифтов ----------- */
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Regular.eot");
  src: local("Kumbh Sans Regular"), local("KumbhSans-Regular"), url("../fonts/KumbhSans-Regular.woff2") format("woff2"), url("../fonts/KumbhSans-Regular.woff") format("woff"), url("../fonts/KumbhSans-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot");
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter Medium";
  src: url("../fonts/Inter-Medium.eot");
  src: local("Inter Medium"), local("Inter-Medium"), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* Заголовки, на макете шрифты Kumbh */
/* Жирные цифры */
/* Мелкие заголовки, на макете шрифт Inter Medium */
/* на макете шрифт Inter Regular */
/* ----------- Размеры отступов, паддингов ----------- */
/* ----------- Ограничения ширин, шаблоны для @media ----------- */
/* ----------- Кнопки и ссылки ----------- */
/* разные настройки размеров кнопок */
/* разные цвета и стили кнопок */
/* ----------- Контейнеры-карточки ----------- */
body {
  background-color: #141414;
}

/* -------- общее --------*/
.section {
  border-bottom: 0.25rem #262626 solid;
}

.container_for_blog {
  max-width: 344rem;
  padding: 0 12rem;
  margin: 0 auto;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container_for_blog {
    max-width: none;
    padding: 0 8rem;
  }
}
@media (max-width: 480px) {
  .container_for_blog {
    padding: 0 4rem;
  }
}

/* -------- секция с кнопками-табами --------*/
.tabs_content {
  max-width: 344rem;
  padding: 0 12rem;
  margin: 0 auto;
  display: flex;
  gap: 3.5rem;
  padding: 10rem 12rem;
}
@media (max-width: 1024px) {
  .tabs_content {
    max-width: none;
    padding: 0 8rem;
  }
}
@media (max-width: 480px) {
  .tabs_content {
    padding: 0 4rem;
  }
}

.tabs_button {
  box-sizing: border-box;
  height: 17rem;
  padding: 5rem 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 2rem;
  /* служебный миксин, его использовать не надо */
  font-family: "Inter", serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 3.5rem;
  white-space: nowrap;
  background-color: #141414;
  color: #98989a;
  border: 0.25rem #262626 solid;
  cursor: pointer;
  width: 100%;
}
.tabs_button .icon {
  width: 5rem;
  height: 5rem;
}
.tabs_button svg {
  color: #ffd11a;
}
.tabs_button:hover {
  background-color: #262626;
  color: #cccccc;
  border: 0.25rem #404040 solid;
}
.tabs_button:hover svg {
  color: #ffe066;
}
.tabs_button:active {
  background-color: #1a1a1a;
  color: #b3b3b3;
  border: 0.25rem #333333 solid;
}
.tabs_button:active svg {
  color: #ffd633;
}

.tabs_button[aria-selected=true] {
  background-color: #1a1a1a;
  color: #b3b3b3;
  border: 0.25rem #333333 solid;
  cursor: pointer;
}
.tabs_button[aria-selected=true] svg {
  color: #ffd633;
}
.tabs_button[aria-selected=true]:hover {
  background-color: #262626;
  color: #cccccc;
  border: 0.25rem #404040 solid;
}
.tabs_button[aria-selected=true]:hover svg {
  color: #ffe066;
}

/* -------- одна статейка -------- */
.blogpost_wrapper {
  max-width: 344rem;
  padding: 0 12rem;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 12.5rem;
  padding: 15rem 0;
}
@media (max-width: 1024px) {
  .blogpost_wrapper {
    max-width: none;
    padding: 0 8rem;
  }
}
@media (max-width: 480px) {
  .blogpost_wrapper {
    padding: 0 4rem;
  }
}

/* автор */
.blogpost_author {
  display: flex;
  width: 76rem;
  gap: 2.5rem;
  align-items: center;
}

.blogpost_avatar {
  background-color: #262626;
  width: 15rem;
  border-radius: 7.5rem;
}

.author_name {
  /* служебный миксин, его использовать не надо */
  font-family: "Inter", serif;
  font-weight: 500;
  line-height: 150%;
  font-size: 4.5rem;
  color: #ffffff;
}

.blogpost_theme {
  /* служебный миксин, его использовать не надо */
  font-family: "Inter", serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 3.5rem;
  color: #98989a;
}

.mobile-wrapper .post_button {
  display: none;
}

/* тема */
.blogpost_preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8rem;
}

.blogpost_date {
  /* служебный миксин, его использовать не надо */
  font-family: "Inter", serif;
  font-weight: 500;
  line-height: 150%;
  font-size: 4.5rem;
  color: #98989a;
}

.blogpost_name {
  /* служебный миксин, его использовать не надо */
  font-family: "Inter", serif;
  font-weight: 500;
  line-height: 150%;
  font-size: 5.5rem;
  color: #ffffff;
}

.blogpost_description {
  /* служебный миксин, его использовать не надо */
  font-family: "Inter", serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 4rem;
  color: #98989a;
}

.blogpost_social_buttons {
  display: flex;
  gap: 2rem;
}

.chat_btn,
.share_btn {
  background-color: #1a1a1a;
  color: #98989a;
  border: 0.25rem #262626 solid;
  cursor: pointer;
  box-sizing: border-box;
  height: 8rem;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem 3rem;
  /* служебный миксин, его использовать не надо */
  font-family: "Inter", serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 3.5rem;
  border-radius: 4rem;
  width: fit-content;
}
.chat_btn svg,
.share_btn svg {
  fill: #1a1a1a;
  stroke: #666666;
}
.chat_btn:hover,
.share_btn:hover {
  background-color: #333333;
  color: #cccccc;
  border: 0.25rem #4d4d4d solid;
}
.chat_btn:hover svg,
.share_btn:hover svg {
  fill: #333333;
  stroke: #98989a;
}
.chat_btn:active,
.share_btn:active {
  background-color: #262626;
  color: #b3b3b3;
  border: 0.25rem #404040 solid;
}
.chat_btn:active svg,
.share_btn:active svg {
  fill: #262626;
  border-color: #7e7e81;
}
.chat_btn .icon,
.share_btn .icon {
  width: 5rem;
  height: 5rem;
}

.favorites_btn {
  background-color: #1a1a1a;
  color: #98989a;
  border: 0.25rem #262626 solid;
  cursor: pointer;
  box-sizing: border-box;
  height: 8rem;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem 3rem;
  /* служебный миксин, его использовать не надо */
  font-family: "Inter", serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 3.5rem;
  border-radius: 4rem;
  width: fit-content;
}
.favorites_btn svg {
  fill: #1a1a1a;
  stroke: #666666;
}
.favorites_btn:hover {
  background-color: #333333;
  color: #cccccc;
  border: 0.25rem #4d4d4d solid;
}
.favorites_btn:hover svg {
  fill: #333333;
  stroke: #98989a;
}
.favorites_btn:active {
  background-color: #262626;
  color: #b3b3b3;
  border: 0.25rem #404040 solid;
}
.favorites_btn:active svg {
  fill: #262626;
  border-color: #7e7e81;
}
.favorites_btn .icon {
  width: 5rem;
  height: 5rem;
}
.favorites_btn.active svg {
  fill: #ff5500;
  stroke: #ff5500;
}

/* кнопка-ссылка */
.post_button {
  box-sizing: border-box;
  height: 12rem;
  padding: 3.5rem 5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  border-radius: 2rem;
  /* служебный миксин, его использовать не надо */
  font-family: "Inter", serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 3.5rem;
  white-space: nowrap;
  background-color: #141414;
  color: #98989a;
  border: 0.25rem #262626 solid;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}
.post_button .icon {
  width: 5rem;
  height: 5rem;
}
.post_button svg {
  color: #ffd11a;
}
.post_button:hover {
  background-color: #262626;
  color: #cccccc;
  border: 0.25rem #404040 solid;
}
.post_button:hover svg {
  color: #ffe066;
}
.post_button:active {
  background-color: #1a1a1a;
  color: #b3b3b3;
  border: 0.25rem #333333 solid;
}
.post_button:active svg {
  color: #ffd633;
}

/* -------- планшет --------*/
@media (max-width: 1024px) {
  .tabs_content {
    gap: 2.5rem;
    padding: 4rem 8rem;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }
  /* -------- одна статейка -------- */
  .blogpost_wrapper {
    flex-direction: column;
    gap: 10rem;
    padding: 10rem 0;
  }
  /* автор */
  .mobile-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .mobile-wrapper .post_button {
    display: flex;
  }
  /* тема */
  .blogpost_wrapper > .post_button {
    display: none;
  }
}
/* -------- телефон --------*/
@media (max-width: 480px) {
  .tabs_content {
    padding: 4rem 4rem;
  }
  .blogpost_wrapper {
    gap: 7.5rem;
  }
  /* -------- одна статейка -------- */
  .blogpost_wrapper {
    padding: 7.5rem 0;
  }
  /* тема */
  .blogpost_preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8rem;
  }
  .blogpost_preview {
    gap: 5rem;
  }
  .blogpost_date {
    /* служебный миксин, его использовать не надо */
    font-family: "Inter", serif;
    font-weight: 500;
    line-height: 150%;
    font-size: 4rem;
  }
  .blogpost_name {
    /* служебный миксин, его использовать не надо */
    font-family: "Inter", serif;
    font-weight: 500;
    line-height: 150%;
    font-size: 4.5rem;
  }
  .blogpost_description {
    /* служебный миксин, его использовать не надо */
    font-family: "Inter", serif;
    font-weight: 400;
    line-height: 150%;
    font-size: 3.5rem;
  }
}/*# sourceMappingURL=future_tech_in_depth_section.css.map */