@import 'design_system';

// ссылка для подписки на новости
.post_button_heder {
   @include btn_size_48;
   @include btn_black;
   border: none;
   &:hover {
    background-color: $Dark_08;
    border: none;
   }
   &:active {
    background-color: $Dark_08;
    border: none;
   }
}

// секция с кнопками навигации

.nav_bar {
    background-color: $Dark_10;
    height: 20.25rem;
    border: $Border;
}

// кнопки навигации

.buttons_block {
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.taps_botton_home {
    @include btn_navbar_current;
}

.taps_botton {
    @include btn_navbar;
    padding: 2.5rem;
    border: none;
}

.taps_botton_contact {
    @include btn_yellow;
    border: none;
    border-radius: 1.5rem;
    padding: 2.5rem 3.5rem;
    width: fit-content;
    color: $Dark_08;
    @include txt_body_14;
}

// логотип 

.icon_future_tech {
    margin: 4.25rem;
}

.nav_bar_title {
display: flex;
justify-content: space-between;
align-items: center;
padding: 5rem 0;
}