@import 'design_system';

.hero_section {
    display: flex;
    flex-direction: column;
}

/* сетка из статистики и главного блока */
.statistics {
    display: grid;
    grid-template-columns: 1fr minmax(101rem, 213rem) 131rem 1fr;
    grid-template-rows: repeat(2, auto);
    border-bottom: $Border;
}

/* ячейка с заголовком страницы */
.grid_empty_left_top {
    min-width: 12rem;
    border-bottom: $Border;
}

.statistics_greeting {
    padding: 25rem 10rem 25rem 0;
    @include page_subtitle_L;
    color: $Dark_40;
    border-right: $Border;
    border-bottom: $Border;
}

.greeting_title {
    margin-top: 5rem;
    color: $White;
    @include page_title_L;
}

.greeting_description {
    margin-top: 3.5rem;
    color: $Grey_50;
    @include txt_body_16;
}

/* ячейки с цифрами */
.grid_empty_left_bottom {
    min-width: 12rem;
}

.statistics_numbers {
    display: flex;
    width: 100%;
    gap: 10rem;
}

.statistic_number {
    width: 100%;
    padding: 12.5rem 0;
    color: $White;
    @include bold_numbers_L;
    border-right: $Border;
}

.colortext {
    color: $Yellow_55;
}

.numbers_explain {
    margin-top: 0.5rem;
    @include txt_body_14;
    color: $Grey_60;
}

/* ячейка с аватарками */
.statistics_resources {
    grid-column: 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 5rem;
    padding: 0 0 12.5rem 12.5rem;

    background-image: url(../assets/img/rays.png);
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-size: 121rem;
}

.resources_content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.resources_avatars_wrapper {
    width: fit-content;
    display: flex;
    padding: 2rem;
    border-radius: 8.5rem;
    background-color: $Dark_10;
    border: 0.25rem $Dark_15 solid;
}

.avatar_frame {
    width: 12.5rem;
    height: 12.5rem;
    margin-left: -3.5rem;
    border-radius: 6.5rem;
    background-color: $Dark_15;
    border: 0.25rem $Dark_40 solid;
    &:first-child {
        margin-left: 0;
    }
}

.resources_text {
    @include txt_title_20;
    color: $White;
}

.resources_text_description {
    margin-top: 1.5rem;
    @include txt_body_16;
    color: $Grey_60;
}

.resources_button {
    @include btn_size_48;
    @include btn_black;
    width: fit-content;
}

.grid_empty_right {
    grid-column: 4;
    grid-row: 1 / 3;
    min-width: 12rem;
}

/* нижний блок из 3-х разделов */
.benefits {
    border-bottom: $Border;
}

.benefits_position {
    @include container;
    display: flex;
}

.benefit_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5rem;
    padding: 10rem 12.5rem;
    border-right: $Border;
    &:first-child {
        padding: 10rem 12.5rem 10rem 0;
    }
    &:last-child {
        padding: 10rem 0 10rem 12.5rem;
        border: none;
    }
}

.benefit_image {
    width: 10rem;
}

.benefit_content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 3.5rem;
}

.benefit_content_text {
    @include txt_title_18;
    color: $White;
}

.benefit_content_description {
    margin-top: 0.5rem;
    @include txt_body_16;
    color: $Grey_50;
}

.benefit_button {
    @include btn_circle;
    @include btn_yellow;
}

.benefit_description {
    color: $Grey_60;
    @include txt_title_16;
}

/* -------- планшет --------*/

@media (max-width: 1024px) {
    .statistics {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, auto);
        border-bottom: none;
    }

    /* ячейка с заголовком страницы */
    .grid_empty_left_top {
        display: none;
    }

    .statistics_greeting {
        padding: 10rem 8rem 7.5rem 8rem;
        border-right: none;
        border-bottom: $Border;
    }

    /* ячейка с аватарками */
    .statistics_resources {
        grid-column: 1;
        grid-row: 3;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        padding: 25rem 8rem 10rem 8rem;
        border-bottom: $Border;

        background-size: 80rem;
    }

    .grid_empty_right {
        display: none;
    }

    /* ячейки с цифрами */
    .grid_empty_left_bottom {
        display: none;
    }

    .statistics_numbers {
        grid-column: 1;
        grid-row: 2;
        box-sizing: border-box;
        gap: 5rem;
        padding: 0 7.5rem;
        border-bottom: $Border;
    }

    .statistic_number {
        padding: 7.5rem 0;
        color: $White;
        &:last-of-type {
            border-right: none;
        }
    }

    /* нижний блок из 3-х разделов */
    .benefits {
        border-bottom: $Border;
    }

    .benefits_position {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .benefit_container {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        gap: 2.5rem;
        padding: 7.5rem 8rem;
        border-right: none;
        border-bottom: $Border;
        &:first-child {
            padding: 7.5rem 8rem;
        }
        &:last-child {
            padding: 7.5rem 8rem;
        }
    }
}

/* -------- телефон --------*/

@media (max-width: 480px) {
    /* ячейка с заголовком страницы */
    .grid_empty_left_top {
        display: none;
    }

    .statistics_greeting {
        padding: 10rem 4rem 7.5rem 4rem;
        @include page_subtitle_S;
    }

    .greeting_title {
        margin-top: 3.5rem;
        color: $White;
        @include page_title_S;
    }

    .greeting_description {
        margin-top: 2.5rem;
        @include txt_body_14;
    }

    /* ячейка с аватарками */
    .statistics_resources {
        flex-direction: column;
        align-items: start;
        padding: 25rem 4rem 10rem 4rem;
    }

    .grid_empty_right {
        display: none;
    }

    .avatar_frame {
        width: 10rem;
        height: 10rem;
        margin-left: -2.5rem;
        border-radius: 5rem;
    }

    .resources_text {
        @include txt_title_18;
    }

    .resources_text_description {
        margin-top: 1rem;
        @include txt_body_14;
    }

    .resources_button {
        @include btn_size_48;
        @include btn_black;
        width: 100%;
    }

    /* ячейки с цифрами */
    .grid_empty_left_bottom {
        display: none;
        min-width: none;
    }

    .statistics_numbers {
        grid-column: 1;
        grid-row: 2;
        padding: 0 4rem;
        @include bold_numbers_S;
        border-bottom: $Border;
    }

    .statistic_number {
        padding: 4rem 0;
        color: $White;
    }

    /* нижний блок из 3-х разделов */

    .benefit_container {
        padding: 7.5rem 4rem;
        &:first-child {
            padding: 7.5rem 4rem;
        }
        &:last-child {
            padding: 7.5rem 4rem;
        }
    }

    .benefit_image {
        width: 7.5rem;
    }

    .benefit_content_text {
        @include txt_title_16;
    }

    .benefit_content_description {
        margin-top: 0.5rem;
        @include txt_body_14;
    }

    .benefit_description {
        @include txt_title_14;
    }
}
