@import 'design_system';

.section_top {
    background-color: $Dark_10;
    border-bottom: $Border;
    padding: 20rem 0;
}

.section_top_content {
    @include container;
    display: flex;
    justify-content: space-between;
    gap: 50rem;
}

.top_badge {
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 1rem;
    @include txt_title_16;
    background-color: $Dark_20;
    color: $White;
    margin-bottom: 2.5rem;
}

.top_title {
    @include section_title_L;
    color: $White;
}

.text_top_button {
    @include btn_size_48;
    @include btn_black;
    width: fit-content;
}

/* -------- планшет --------*/

@media (max-width: 1024px) {
    .section_top {
        padding: 10rem 8rem;
    }

    .section_top_content {
        flex-direction: column;
        gap: 5rem;
    }
}

/* -------- телефон --------*/

@media (max-width: 480px) {
    .section_top {
        padding: 10rem 4rem;
    }

    .top_badge {
        @include txt_title_14;
    }

    .top_title {
        @include section_title_S;
    }

    .text_top_button {
        width: 100%;
    }
}
