@import 'design_system';

.container {
  @include container;
}

.ebooks_container {
  display: flex;
}

.ebooks_container_border_top {
  border-top: $Border;
}

.ebooks_left_part {
  border-right: $Border;
  display: flex;
  align-items: center;
  margin: 0;
  width: 31%;
}

.text_left_part_blog {
  margin-bottom: 7.5rem;
}

.download_button_wrap {
  margin-right: 15rem;
}

.download_button {
  width: 100%;
  @include btn_size_48;
  @include btn_black;
  background-color: $Dark_10;
}

.ebooks_right_part {
  width: 68%;
}

.btn_grey_unlock_part {
  @include btn_size_68;
  border: $Border;
  color: $Grey_60;
}

.downloaded_by {
  border: $Border;
  height: 25rem;
  width: 82rem;
  background-color: $Dark_10;
  border-radius: 2rem;
  box-sizing: border-box;
  display: flex;
  padding: 6rem;
  gap: 0.5rem;
  justify-content: space-between;
  margin-top: 10rem;
}

.avatar_frame_ebooks {
  width: 10rem;
    height: 10rem;
    margin-left: -3.5rem;
    border-radius: 6.5rem;
    background-color: $Dark_10;
    border: 0.25rem $Dark_40 solid;
    &:first-child {
        margin-left: 0;
    }
}

.resources_avatars_wrapper_ebooks {
  width: fit-content;
    display: flex;
    padding: 2rem;
    border-radius: 3rem;
    background-color: $Dark_08; 
}

.variety_topics {
  display: flex;
  gap: 4rem;
  padding: 15rem 0 6rem 15rem;
}

.title_ebooks_right_part{
  @include txt_title_20;
  color: $White;
  width: 50%;
}

.text_ebooks_right_part {
  @include txt_body_16;
  color: $Grey_60;
}

.image_girl_red_tshirt {
  margin: 2rem 0 6rem 15rem;
}

.image_girl {
  width: 100%;
  object-fit: cover;
  border-radius: 2.5rem;
  border: none;
}

.any_ebooks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 15rem;
  gap: 6rem;
}
.download_ebooks {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.total_ebooks {
  border: $Border;
  height: 25rem;
  background-color: $Dark_10;
  border-radius: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 6rem;
  gap: 0.5rem;
  width: 30%;
}

.text_grey_ebooks {
  @include txt_body_16;
  color: $Grey_60;
}

.text_white_ebooks {
  @include txt_title_18;
  color: $White;
}

.download_format {
  border: $Border;
  height: 25rem;
  background-color: $Dark_10;
  border-radius: 2rem;
  box-sizing: border-box;
  display: flex;
  padding: 6rem;
  gap: 0.5rem;
  width: 68%;
  margin-left: 4rem;
justify-content: space-between;
}
.average_author {
  border: $Border;
  height: 25rem;
  background-color: $Dark_10;
  width: 100%;
  border-radius: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 6rem;
  gap: 0.5rem;
  margin-bottom: 15rem;
}